.logo-container {
    display: inline-block;
    position: relative;
    transition: transform 0.3s ease;
}

.logo {
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.secondary-logo {
    position: absolute;
    top: 20px;
    left: 0;
    opacity: 0;
}

@media (min-width: 768px) {
    .logo-container:hover {
        transform: translateY(-10px);
    }

    .logo-container:hover .primary-logo {
        opacity: 0;
        transform: translateY(10px);
    }

    .logo-container:hover .secondary-logo {
        opacity: 1;
        transform: translateY(-10px);
        /* 放大第二個Logo */
        transform: translateY(-10px) scale(2);
        /* 調整位置以保持居中 */
        transform-origin: center;

    }
}

