---
import Layout from "@/layouts/Layout"
---

<Layout title="等一下，快好了！" description="302">
    <div class="container flex flex-col lg:flex-row items-center justify-center gap-8 lg:gap-12 min-h-[70vh] mx-auto px-4 lg:px-8 py-8">
        <div class="flex flex-col items-center lg:items-start justify-center text-center lg:text-start space-y-4 shrink-0 order-2 lg:order-1">
        	<h1 class="font-extrabold">302</h1>
        	<h2>Under Construction</h2>
        	<p class="text-xl">稍等一下，還沒處理完畢！<br />回首頁，查看更多如何把生活實踐進政治中的各種方式！</p>
            <p class="text-sm">
                或是，您也可以查看我們的舊版網頁，看看過去的我們。🌹
            </p>
            <a href="/" class="btn btn-secondary">返回主頁</a>
            <a href="https://sdp.org.tw" class="btn  btn-primary">舊版網站</a>

        </div>
        <div class="shrink-0 flex items-center justify-center order-1 lg:order-2">
            <img src="under_construction.png" alt="Under Construction" class="w-auto h-auto max-h-[250px] lg:max-h-[400px]">
        </div>
    </div>
</Layout>
