---
import HeaderLink from "./HeaderLink.astro";
import config from "../content/config/config.json";
import IconLink from "./react/IconLink";
---

<!-- <header>
    <nav>
        <h2><a href="/">{config.seo.title}</a></h2>
        <div class="internal-links">
            {
                config.nav.map((nav) => (
                    <HeaderLink href={nav.link}>{nav.title}</HeaderLink>
                ))
            }
        </div>
        <div class="social-links">
            {
                config?.contactLinks?.map((link) => {
                    return <IconLink {...link} />;
                })
            }
        </div>
    </nav>
</header> -->
<nav class="navbar bg-base-100 shadow-sm">
    <div class="navbar-start">
        <div class="dropdown">
            <label class="btn btn-circle swap swap-rotate">
                <!-- this hidden checkbox controls the state -->
                <input type="checkbox" />

                <!-- hamburger icon -->
                <svg
                    class="swap-off fill-current"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 512 512"
                >
                    <path
                        d="M64,384H448V341.33H64Zm0-106.67H448V234.67H64ZM64,128v42.67H448V128Z"
                    ></path>
                </svg>

                <!-- close icon -->
                <svg
                    class="swap-on fill-current"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 512 512"
                >
                    <polygon
                        points="400 145.49 366.51 112 256 222.51 145.49 112 112 145.49 222.51 256 112 366.51 145.49 400 256 289.49 366.51 400 400 366.51 289.49 256 400 145.49"
                    ></polygon>
                </svg>
            </label>
            <ul
                tabindex="-1"
                class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow"
            >
                <li><a>Homepage</a></li>
                <li><a>Portfolio</a></li>
                <li><a>About</a></li>
            </ul>
        </div>
    </div>
    <div class="navbar-center">
        <h2><a href="/">{config.seo.title}</a></h2>
    </div>
    <div class="navbar-end">
        <a href="/join" class="btn btn-primary" id="a-link">加入我們</a>
        <a
            href="https://sdparty.oen.tw/#"
            target="_blank"
            class="btn btn-secondary"
            id="a-link">捐款支持</a
        >
    </div>
</nav>

<style>
    header {
        margin: 0;
        padding: 0 1em;
        background: white;
        box-shadow: 0 2px 8px rgba(var(--black), 5%);
    }
    h2 {
        margin: 0;
        font-size: 1em;
    }

    h2 a,
    h2 a.active {
        text-decoration: none;
    }
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav a.active {
        text-decoration: none;
        border-bottom-color: var(--accent);
    }
    .social-links,
    .social-links a {
        display: flex;
    }
    @media (max-width: 720px) {
        .social-links {
            display: none;
        }
    }
    #a-link {
        color: var(--color-white);
    }
</style>
