---
import type { CollectionEntry } from "astro:content";
import Layout from "./Layout.astro";
import FormattedDate from "../components/FormattedDate.astro";
import type { MarkdownHeading } from "astro";

type Props = {
    data: CollectionEntry<"news">["data"];
    headings: MarkdownHeading[];
    readtime: string;
};

const { data, readtime, headings } = Astro.props;
const { title, description, pubDate, updatedDate, heroImage, tags } = data;

const articleDate = pubDate.toISOString();
---

<!doctype html>
<html lang="zh-TW">
    <Layout
        title={title}
        description={description}
        image={heroImage?.src}
        articleDate={articleDate}
    >
        <body>
            <div>
                <slot />
            </div>
        </body>
    </Layout>
</html>
