---
import ModernNavbar from '../components/navbar/ModernNavbar.astro';
// import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.tsx';
import  SpeedInsights  from "@vercel/speed-insights/astro";
import { ClientRouter } from 'astro:transitions';
---

<!doctype html>
<html lang="zh-TW">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>預覽</title>
		<ClientRouter />
	</head>
	<body>
		<ModernNavbar transition:persist="navbar"/>
		<slot />
		<Footer transition:persist="footer" client:visible />
		<SpeedInsights />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
